@charset "UTF-8";

/* 回答はここに書いてね */

.q7__inner_box.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

.q7--float .q7__box:first-child{
  margin-left: 0;
}

.q7--float .q7__box{
  width: 225px;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 16px;
}



.q7--table .q7__inner{
  display: table;
}

.q7--table .q7__box{
  font-size: 16px;
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
  width: 225px;
}

.q7--table .q7__box:first-child{
  padding-left: 0;
}



.q7--inlineblock .q7__box{
  font-size: 16px;
  width: 225px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  box-sizing: border-box;
}
.q7--inlineblock .q7__inner{
  font-size: 0;
}

.q7--inlineblock .q7__box:first-child{
  margin-left: 0;
}



.q7--flex .q7__inner{
 display: flex; 
 justify-content: space-around;
 align-items: flex-end;
}

.q7--flex .q7__box{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
.q7--flex .q7__box:last-child{
  margin-left: 10px;
}


.q7--margin .q7__box{
  font-size: 16px;
  vertical-align: top;
}
.q7--margin .q7__box:first-child{
  width: 300px;
  display: inline-block;
}
.q7--margin .q7__box:last-child{
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
}
.q7--margin .q7__inner{
  font-size: 0;
}
/* 回答はここに書いてね */
